#modal form {
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 300px;
	height: 500px;
	box-shadow: 0 5px 10px 2px rgba(195, 192, 192, 0.5);
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
#modal input {
	margin: 10px 0;
}
